body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.eggAttr {
  background-color: aquamarine;
  width: 120px;
  }

  .eggForm {
    background-color: rgb(127, 255, 157);
    width: 300px;
  }
  h1{
    background-color: rgb(255, 178, 127);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif green;
  }
  div{
    background-color: rgb(155, 127, 255);
  }